/* ======== jQuery overrides go here ======== */
	.ui-dialog-titlebar.ui-widget-header { background: #df5e88 url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") 50% 50% repeat-x; }
	.ui-widget-header { background: #DF5E88; }
	.ui-tabs .ui-tabs-nav li.ui-tabs-active { background: #F6EFA6; }
	.ui-tabs .ui-tabs-nav li { background: #f39bb7; }
	.ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover { border: 1px solid #2d2d2d; }
	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active { border: 1px solid #2d2d2d; }
	.ui-widget.ui-widget-content { background-color: #f6efa6; border: 1px solid #2d2d2d; }
	
	.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: monospace; }
	
	.ui-widget { font-family: monospace; }
	
	.ui-widget input[type=button] { 
		background: #df5e88;
		border: 1px solid #97133e;
		border-radius: 8px;
		font-family: monospace;
		padding: 0.3em;
		min-width: 75px;
	} 
		.ui-widget input[type=button]:hover { background-color: #faa5c1; }

	.ui-accordion .ui-accordion-header { background: #f6ab6c; font-family: monospace; }	
	
	.beginMenuLinks .ui-state-active { background: #df5e88; border: 0px; }

	.ui-draggable, .ui-dialog-titlebar { cursor: url("../img/cursor_move.png"), move; }

/* ======== My styles start here ======== */

/* ==== Cursor styles ==== */
* { cursor: url("../img/cursor_default.png"), default; }
a { cursor: url("../img/cursor_pointer.png"), pointer; }
.target-element { cursor: url("../img/cursor_crosshair.png"), crosshair; }

body { 
	background-color: #6ea6a8;
	background-image: url("../img/AncientContact_dithered.png");
	background-size: 100%;
	padding: 0;
	margin: 0;
	font-family: "Courier", monospace;
}

body, p, div {
	font-family: monospace;
	scrollbar-color: #DF5E88 #f6ab6c;
}
input[type=button], input[type=file] {
	background: #df5e88;
	border: 1px solid #97133e;
	border-radius: 8px;
	font-family: monospace;
	padding: 0.3em;
	margin-bottom: 0.5em;
	min-width: 75px;
	box-shadow: inset 1px 1px 0px 0px #f6ab6c, inset -1px -1px 0px 0px #97133e;
}
input[type=button]:hover {
	cursor: url("../img/cursor_pointer.png"), pointer;
}
input[type=text] {
	font-family: monospace;
	padding: 0.3em;
	border-radius: 8px;
	margin-bottom: 0.5em;
}
select { font-family: monospace; font-size: 1em; background-color: #f6ab6c; padding: 0.4em; border: 1px solid #000; border-radius: 10px; }
iframe { border: 0px; }
hr { border: 2px dotted #000; }

details {
	margin: 1em 0;
	max-width: 100%;
	background-color: #fffce0;
	overflow: auto;
}
	summary { font-weight: bold; border-bottom: 1px solid #97133e; background-color: #f6ab6c; padding: 1em; }
	details p { padding: 1em; }

div#desktopIcons {
	float: right;
	text-align: center;
	padding: 0.5em;
	margin-bottom: 1.5em;
} 
	#desktopIcons div { float: right; margin-right: 1em; }
	#desktopIcons p { display: block; }
	#desktopIcons span, #desktopIcons a span { background-color: #ffffff; border: 1px solid #353535; text-decoration: none; padding: 2px; }
div.window {
	border: 1px solid #353535;
	width: 600px;
	position: absolute;
	height: auto;
	box-shadow: 1px 1px 0px 0px #a02a50, -1px -1px 0px 0px #a02a50, 2px 2px 5px 5px rgb(31, 19, 32, 0.3);
}
	div.menuBar {
		border-bottom: 1px solid #353535;
		background-color: #df5e88;
		padding: 1em;
		overflow: hidden;
		box-shadow: inset 1px 1px 0px 0px #f6ab6c, inset -1px -1px 0px 0px #97133e;
	}
		div.menuBar span { 
			display: inline-block;
			text-align: center;
			width: calc(100% - 70px);
			font-weight: bold;
		}
			div.menuBar a {
				text-decoration: none;
				font-weight: bold;
				font-size: 1.1em;
				display: inline-block;
			}
			div.menuBar a.minimize {
				background-image: url("../img/button_minimize.png");
				width: 18px;
				height: 19px;
				text-indent: -900px;
			}
			div.menuBar a.close {
				background-image: url("../img/button_close.png");
				width: 18px;
				height: 19px;
				text-indent: -900px;
			}
	div.navBar {
		background-color: #f6ab6c;
		border: 1px solid #353535;
		padding: 0.5em;
	}
		div.navBar .back { 
			font-size: 1.2em;
			text-decoration: none;
			color: #353535;
			background: url("../img/arrowLeft.png") no-repeat left center;
			padding: 10px 0px 10px 30px;
		}
		div.navBar .forward { 
			font-size: 1.2em;
			text-decoration: none;
			color: #353535;
			background: url("../img/arrowRight.png") no-repeat right center;
			padding: 10px 30px 10px 0px;
		}
	div.content {
		background-color: #f6efa6;
		padding: 1em;
	}

	.content .folderIcon { text-align: center; width: 80px; display: inline-block; vertical-align: top; }

	div.content .progMenu { margin-bottom: 0.5em; }
		.progMenu .menu{
			padding: 0px;
			background: none;
			border: 0px;
		}
			.progMenu .menu .ui-menu li { display: block; padding: 0.5em; min-width: 75px; border: none; }
			.progMenu .menu li, .progMenu .menu li li {
				width: auto;
				display: inline-block;
				border: none;
			}
				.progMenu .menu li a { width: 100%; }
				.progMenu .menu li:hover a { border: 0; }

#calendar { 
	background-color: #df5e88;
	position: absolute;
	bottom: 3.5em;
	right: 0;
	padding: 0.5em;
	border: 1px solid #353535;
}
	#calendar table td { padding: 2px; text-align: center; }
	.calendar-title { font-weight: bold; background-color: #cf3a6a; }
	#calendar thead { background-color: #cf3a6a; }
	.day.today { background-color: #f6ab6c; }
	.pad { background-color: #ed7ea2; }

#taskBar {
	background-color: #df5e88;
	padding: 0.5em;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 2.5em;
}
	#rightTaskbar {
		width: 160px;
		right: 5px;
		bottom: 5px;
		position: fixed;
		border: 1px solid #97133e;
		padding: 0.5em;
		text-align: right;
		font-weight: bold;
	}
		#rightTaskbar img { vertical-align: middle; }
	#toggleBegin {
		text-decoration: none;
		font-weight: bold;
		font-style: italic;
		vertical-align: middle;
		font-size: 1.5em;
		color: #000;
		display: table-cell;
		width: 80px;
		text-align: left;
		height: 32px;
		background-image: url("../img/pillBug_ball.png");
		background-repeat: no-repeat;
		padding-left: 38px;
	}
		#toggleBegin:hover { 
			background-image: url("../img/pillBug.png");
			background-repeat: no-repeat;
			background-color: #4f4e83;
			color: #DF5E88;
		}
	.beginMenuLinks.ui-widget.ui-widget-content, .beginMenuLinks.ui-widget-content ul{
		background-color: #4f4e83;
		background: url("../img/beginMenu_bg.jpg") repeat-y;
		color: #F6EFA6;
		box-shadow: 2px 2px 5px 5px rgb(31, 19, 32, 0.3);
	}
		.beginMenuLinks.ui-widget-content a { color: #F6EFA6; }
		#beginMenu.ui-menu .ui-menu-item-wrapper { padding: 0; }
		.beginMenuLinks.ui-menu .ui-menu-item-wrapper img, .beginMenuLinks.ui-widget-content ul img { vertical-align: middle; }
	.beginMenuLinks { 
		position: fixed;
		width: 250px;
		background-color: #df5e88;
		bottom: 1.4em;
		padding: 0px;
		margin: 0px 0px 1em 0px;
		color: #F6EFA6;
	}
		.beginMenuLinks ul { margin: 0; padding: 1em 0px 1em 0px; }
		.beginMenuLinks li {
			list-style-type: none;
			padding: 1em;
			border-bottom: 1px solid #F6EFA6;
			padding: 1em 0.5em 1em 0.5em;
			margin: 0;
		}
		.beginMenuLinks li:hover { background-color: #df5e88; }
		.beginMenuLinks a { text-decoration: none; }
		.beginMenuLinks ul.ui-menu { width: 250px; }
	
	#minimizedApps	{ margin: 0 0 0 120px; border: 0px solid #000; height: 100%; padding: 0px; width: calc(100% - 400px); margin-top: -30px; }
		#minimizedApps li { width: 150px; bottom: 10px; display: flex; border: 1px solid #97133e; float: left; padding: 0.5em; margin-right: 5px; background-color: #ed84a6; box-shadow: 1px 1px 0px 0px #a02a50, inset 1px 1px 0px 0px #f8c0d2, inset -1px -1px 0px 0px #528d8f; }
			#minimizedApps li:hover { background-color: #fcb8ce; }
		#minimizedApps a { font-weight: bold; text-decoration: none; color: #5b132a; display: block; height: 100%; width: 100%; }
			#minimizedApps a:visited { color: #5b132a; }
	
.off { display: none; }	
.clear { width: 100%; clear: both; display: block; }
.col-half { width: 50%; float: left; }
.ascii { white-space: pre; line-height: 14px; }
.flippedx { transform: scaleX(-1); }
.flippedy { transform: scaleY(-1); }
.flippedboth { transform: scaleY(-1) scaleX(-1); }
img.inline { float: left; width: 200px; margin-right: 1em; border: 1px solid #4f4e83; }
#stickersCanvas { z-index: 0; position: absolute; }
	.stickers { width: 200px; height: 200px; overflow: visible; }
		.stickers img { z-index: 0; }
		.stickers a { 
			height: 32px;
			width: 32px;
			text-indent: -999px;
			visibility: hidden;
			color: #000;
			text-decoration: none;
			font-size: 1.2em;
			background-color: #df5e88;
			overflow: hidden;
			border-radius: 12px;
			float: left;
		}
		.stickers:hover a { visibility: visible; }
		.stickers .rotate { 
			display: block;
			background: url('../img/icons/icon_rotateLeft.png') no-repeat #df5e88 center;
		}
		.stickers .resize { 
			display: block;
			background: url('../img/icons/icon_resize.png') no-repeat #df5e88 center;
		}
		.stickers .close { 
			display: block;
			background: url('../img/icons/icon_close.png') no-repeat #df5e88 center;
		}

/* ======== Specific window styles here ======== */
#frugalFetch .content { background-color: #1f1320; color: #f6efa6; }
#frugalFetch a { color: #DF5E88; }

#imageViewer .navBar ul { padding: 0; margin: 0; }
#imageViewer .navBar li { list-style-type: none; display: table-cell; padding: 0 0.5em; margin: 0; }
	#imageViewer .navBar li:hover { cursor: url("../img/cursor_pointer.png"), pointer; }
#imageViewer #staticImage { max-width: 100%; height: auto; }
#imageViewer #imgContainer { overflow: scroll; }
	#imageViewer #exifData { overflow: scroll; max-height: 200px; }

#textpad_wa {
	width: calc(100% - 1em);
	min-height: 300px;
	cursor: url("../img/cursor_text.png"), text;
}
	#textpad .uiButtons { margin-top: 0.5em; margin-bottom: 0.5em; }

#settings .bgPicker img { width: 100px; height: 100px; border: 1px solid #000; }

#calculator {
	width: 200px;
}
	#calculator>.menuBar>span { width: calc(100% - 70px); }
	#calculator>content {
		background: #df5e88;
	}
	#calculator #calc_result { background-color: #fff; padding: 0.5em; display: block; width: 90%; border: 1px solid #353535; }
	#calculator input[type='button'], #calculator input[type='submit'] { font-weight: bold; font-size: 1.2em; padding: 0.5em; background: #97133e; color: #fff; min-width: 40px; width: 40px; }
	
	#calculator #calc-memory { padding: 0.5em; background-color: #fffce0; }
		#calculator #calc-memory h2 { border-bottom: 1px solid #000; width: 100%; display: block; margin-bottom: 0; padding-bottom: 0; }
		#calculator #calc-memory .calc-clear { font-size: 0.8em; font-style: italic; }
	
#csvEdit table.csvDisplay{
	width: 100%;
	background: #fffce0;
	border: 1px solid #ccc;
}
	#csvEdit table.csvDisplay td { border: 1px solid #ccc; height: 1em; padding: 0.2em; }
		#csvEdit table.csvDisplay td input { width: 90%; border: none; background: none; cursor: url("../img/cursor_crosshair.png"), crosshair; }
			#csvEdit table.csvDisplay tr.even { background: #fddae6; }
	#csvEdit table.csvDisplay tr:hover { background: #c1eced; }

#gamesFolder iframe { width: 100%; min-height: 500px; border: 0px; }

#bookArea { overflow: scroll; }
	#bookArea .arrows {
		font-weight: bold;
		font-size: 1.5em;
		background-color: #DF5E88;
		color: #F6EFA6; padding: 0.5em;
		border-radius: 8px
		}
		#bookArea .arrows:hover { background-color: #8FCFD1; cursor: url("../img/cursor_pointer.png"), pointer; }
	#bookArea #prev { float: left; }
	#bookArea #next { float: right; }

#tarotReader { width: 800px; }
#tarotReader .content { overflow: scroll; max-height: 600px; }
#tarotResult {
	margin-top: 1em;
}
	#tarotResult .tcard {
		float: left;
		margin-right: 0.5em;
		text-align: center;
		width: 30%;
	}
	#tarotResult img {
		width: 100%;
		height: auto;
	}
	#tarotResult img.reversed {
		-webkit-transform: scaleY(-1);
  		transform: scaleY(-1);
	}
	
#tarotSpreadResult img { width: 100px; }
	#tarotSpreadResult #cardresult img {width: auto;}

#weather { width: 330px; }
#minesweeper { width: 790px; height: 450px; }
#stickerImages img { height: 200px; }
	#stickerImages img:hover {cursor: url("../img/cursor_pointer.png"), pointer;}